* {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif; 
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.header, footer {
  justify-content: space-between;
  background: #0D0D0D;
  color: #F2DC6D;
  font-size: 100%;
  vertical-align: baseline;
  height: 52px;
  left: 0;
  line-height: 52px;
  top: 0;
  width: 100%;
  z-index: 10001;
}

.header {
  border-bottom: 2px solid #F2DC6D;
  position: fixed;
}

footer {
  border-top: 2px solid #F2DC6D;
}

nav {
  text-align: left;
  margin-left: 25px;
}

.banner {
  font-family: 'Noto Sans', sans-serif;
  background: #919191;
  display: flex;
  justify-content: center;
  min-height: 560px;
  position: relative;
  text-align: center;
  width: 100%;
}

.inner {
  text-align: center;
  margin: 25px auto 0 auto;
}

h1 {
  font-size: 54px;
  font-weight: lighter;
  padding-top: 25px;
  color: #ffffff;
  line-height: 1.2;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  color: #111111;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #F2DC6D;
  margin: 0 0 24px 0;
}

h2 {
  font-family: 'Noto Serif', serif;
  font-size: 40px;
  font-weight: 300;
  color: #0D0D0D;
  line-height: 1.3;
  margin: 0 0 24px 0;
}

.bottom {
  color: #ffffff;
}

.top {
  color: #111111;
  font-family: 'Noto Serif', sans-serif;
  font-size: 20px;
  margin: 75px auto;
  width: 75%
}

.mid {
  color: #111111;
  font-family: 'Noto Serif', sans-serif;
  font-size: 18px;
  margin: 0 0 32px 0;
}


.wrapper {
  padding: 48px 0 48px 0;
  z-index: 1;
  background-color: #ebebeb;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
}

.projectsheader {
  text-align: center;
  margin-bottom: 64px;
}

.highlights {
  width: 50%;
  border-radius: 4px;
  margin: auto;
  padding: 32px;
  text-align: center;
  box-shadow: 0px 0px 10px 5px #F2DC6D;
  background: #ffffff;
}

.link {
  font-family: 'Noto Serif', sans-serif;
  color: #111111;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.dot {
  height: 10px;
  width: 8px;
  background-color: #111111;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px 0 3px;
}

.contactinfo {
  font-family: 'Noto Sans', sans-serif;
  background: #919191;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.findme {
  display: flex;
  list-style-type: none;
}

.findme li {
  align-self: center;
  margin-right: 40px;
}

.linkedin {
  height: 64px;
  width: 75px;
}





@media screen and (max-width: 320px) {
.header {
  position: inherit;
}

nav {
 text-align: left;
  }

.nfl {
  width: 100%;
}
}

@media screen and (max-width: 375px) {
.header {
  position: inherit;
}
  
nav {
  text-align: left;
}
  
.nfl {
  width: 100%;
}
}

@media screen and (max-width: 425px) {
.header {
  position: inherit;
}
  
nav {
  text-align: left;
}
  
.nfl {
  width: 100%;
}
}
